body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./images/minimalistic-workplace-with-gadgets.jpg);
    background-size: cover;
}

.solicitud-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(140, 250, 213, 0.727); /* Ajusta la opacidad del fondo */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centra el texto dentro del contenedor */
}

h1 {
    text-align: center;
    color: #333;
}

p {
    color: #666;
}

.solicitud-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 15px;
    width: 100%; /* Asegura que los elementos hijos ocupen todo el ancho disponible */
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    text-align: left; /* Mantén los labels alineados a la izquierda */
}

input[type="text"],
input[type="email"],
textarea {
    width: 80%; /* Reduce el ancho de los campos de entrada */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 auto; /* Centra los campos de entrada */
}

button[type="submit"],
.upload-button {
    display: block;
    width: 80%; /* Ajusta el ancho del botón de envío */
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto; /* Centra el botón de envío */
}

button[type="submit"]:hover,
.upload-button:hover {
    background-color: #0056b3;
}

/* Estilos para el mensaje de éxito */
.mensajeExito {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 255, 0, 0.8);
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    transition: opacity 0.5s ease;
}

.mensajeExito.hidden {
    opacity: 0;
    pointer-events: none; /* Para que el usuario no pueda interactuar con el mensaje oculto */
}
/* Estilos para el mensaje de éxito */
.mensajeExito {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 255, 0, 0.8);
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    transition: opacity 0.5s ease;
}

.mensajeExito.hidden {
    opacity: 0;
    pointer-events: none; /* Para que el usuario no pueda interactuar con el mensaje oculto */
}
